.promo {
    padding-top: 180px;
    background: url('../images/promo-bg.jpg') center center / cover no-repeat;
    .container {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }
    }
    @media screen and (max-width: 900px) {
       padding: 0;
    }
}
.promo__title {
    margin-top: 163px;
    max-width: 310px;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
    @media screen and (max-width: 900px) {
       margin-top: 149px;
    }
}

.promo__descr {
    @media screen and (max-width: 900px) {
       margin-left: 16px;
    }
}

.promo__img {
    @media screen and (max-width: 900px) {
        max-width: 569px;
        height: 593px;
        margin: 100px 0 0 149px;
    }
}
.promo__text {
    margin-top: 43px;
    max-width: 460px;
}
.promo__btn {
    margin-top: 42px;
    max-width: 207px;
    @media screen and (max-width: 900px) {
        margin: 42px auto 0;
    }
}
