.promo {
    padding-top: 180px;
    background: url('../images/promo-bg.jpg') center center / cover no-repeat;
    .container {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }
    }
    @media screen and (max-width: 900px) {
       padding: 0;
    }
}
.promo__title {
    margin-top: 163px;
    max-width: 310px;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
    @media screen and (max-width: 900px) {
       margin-top: 149px;
    }
     @media screen and (max-width: 370px) {
       margin: 149px auto 0;
       max-width: 80%;
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
    }
}

.promo__img {
    img {
        @media screen and (max-width: 370px) {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    @media screen and (max-width: 900px) {
        max-width: 569px;
        max-height: 593px;
        margin: 100px 0 0 137px;
    }

    @media screen and (max-width: 370px) {
        margin: 105px 0 0 40px;
        height: 272px;
    }
}
.promo__text {
    margin-top: 43px;
    max-width: 460px;
    @media screen and (max-width: 320px) {
        text-align: center;
        margin: 43px -10px 0;
    }
}
.promo__btn {
    margin-top: 42px;
    max-width: 207px;
    @media screen and (max-width: 900px) {
        margin: 42px auto 0;
    }
}
