h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}
  
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  list-style: none;
  font-family: 'Georgia';
  scroll-behavior: smooth;
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Inter", sans-serif;
}